{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    
    {% if has_payments and customer_id %}
    <div class="submit-row">
        <a href="{% url 'customer:auto_reallocate' customer_id %}" 
           class="default" 
           onclick="return confirm('Are you sure you want to auto reallocate payments for this customer using FIFO method? This will delete existing allocations and recreate them.');">
            Auto Reallocate Payments (FIFO)
        </a>
        <a href="{% url 'customer:credit_detail' customer_id %}" 
           class="default">
            View Credit Ledger
        </a>
    </div>
    {% endif %}
{% endblock %}
